# ignore all __pycache__
*.pyc
*.pyo

# ignore virtual environment
env/

# ignore jupyter notebook checkpoints
.ipynb_checkpoints

# ignore vscode extensions
.vscode

# ignore images used for training and testing
*.jpg

# ignore large trained model
code/image_recognition/saved_model/